// Here you can add other styles
.react-bs-table-sizePerPage-dropdown button {
    background-color: transparent;
}
.react-bootstrap-table .table-bordered {
    min-height: 200px;
}
.react-bootstrap-table {
    overflow-x: auto;
    border-top-left-radius: 5px;
}
.react-bootstrap-table table {
    table-layout: auto !important;
}

thead, tbody, tfoot, tr, td, th {
    white-space: nowrap;
}

.react-bootstrap-table tbody td {
    font-size: 12px;
}

.page-link.active, .active > .page-link {
    background-color: #3c4b64;
    border-color: #2f3c54;
}

.page-link:hover {
    color: #2f3c54;
}

.page-link {
    color: #2f3c54;
    font-size: 10pt!important;
}

.react-bootstrap-table-pagination {
    margin-top: 10px;
}

.dropdown-toggle, .dropdown-item {
    font-size: 12px;
}

.dropdown-item a {
    text-decoration: none;
    color: #2f3c54;
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    content: "";
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9;
}
th .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.selection-box {
    margin-bottom: 20px;
}